/* .head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */

/* Top.css */

.head {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .black_btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .head_text {
    font-size: 24px;
  }
  
  .orange {
    color: orange;
  }
  